@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #88A3E2, #FC8DCA);
    }

    section#login {
        width: 80vw;

    }

    section#login>div#imagem {
        float: left;
        width: 40%;
        height: 100%;
    }

    section#login>div#formulario {
        float: right;
        width: 60%;
    }
        div#formulario>p {
        font-size: 1.2em;
    }
    div#fomurlario > h1{
        font-size: 2em;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #88A3E2, #FC8DCA);
    }

    section#login {
        width: 950px;

    }

    section#login>div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login>div#formulario {
        float: left;
        width: 50%;
    }

    div#formulario>p {
        font-size: 1.2em;
    }
    div#fomurlario > h1{
        font-size: 2em;
    }

}