@charset "UTF-8";

/* Paleta de cores

azul: #88A3E2
rosa: #FC8DCA

*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body, html{
    background-color: #88A3E2;
    height: 100vh;
    width: 100vw;
}
main{
    height: 100vh;
    width: 100vw;
    position: relative;
}
section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.595);
    transition: width 0.4s, height 0.4s;
    transition-timing-function: ease;
}
section#login > div#imagem{
    display: block;
    background: #88A3E2 url(../img/fundo.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    
}
section#login > div#formulario{
    display: block;
    padding: 10px;
}
div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}
div#formulario > p{
    font-size: 0.8em;
}
form > div.campo{
    background-color: #FC8DCA;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}
div.campo > label{
    display: none;
}
form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #88A3E2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: black;
}
form > input[type=submit]:hover{
    background-color: #7088bc;
}
form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    border: 1px solid #88A3E2;
    border-radius: 5px;
    text-decoration: none;
    color: black;

}
form > a.botao:hover{
    background-color: #97b5fa;
}

