@charset "UTF-8";

/* Paleta de cores

azul: #88A3E2
rosa: #FC8DCA

*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body, html{
    background-color: #88A3E2;
    height: 100vw;
    width: 100vw;
}
main{
    height: 100vh;
    width: 100vw;
    position: relative;
}
section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.595);
}
section#login > div#imagem{
    display: block;
    background: #88A3E2 url(../img/fundo.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    
}
section#login > div#formulario{
    display: block;
    padding: 10px;
}